<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/css/style.css">
        <%- include('./partials/header.ejs', { success_msg: success_msg, error_msg: error_msg, isAuthenticated: isAuthenticated, user: user }) %>
    </head>
<body>
    <h1>Login</h1>

    <!-- Display success or error messages -->
    <% if (success_msg) { %>
        <div class="alert alert-success"><%= success_msg %></div>
    <% } %>
    <% if (error_msg) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
    <% } %>

    <form action="/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/register">Register here</a>.</p>
</body>
</html>

