<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <%- include('./partials/header.ejs', { success_msg: success_msg, error_msg: error_msg, isAdmin: isAdmin }) %>
    <title>Apartment Added Successfully</title>
</head>
<body>
    

    <!-- <h1>Apartment Added Successfully</h1> -->
    <p>Your new apartment has been successfully added to the database.</p>
    
    <a href="/admin/apartment/add-new">Add Another Apartment</a>
    <br>
    <a href="/">Home</a>
</body>
</html>


